@page
@model Ex_09.Pages.CountryManager.CountryIndex

@{
    ViewData["Title"] = "Visualização de Países";
}

<!DOCTYPE html>

<html>
<head>
    <title>Visualização dos países cadastrados:</title>
</head>
<body>
<div>
    @if (Model.Countries.Count == 0)
    {
        <h1><strong>Não há nenhum país cadastrado!</strong></h1>
    }
    else
    {
        foreach(var country in Model.Countries)
        {
            <div class="form-group">
                <h3> País - @country.CountryName</h3>
                <p>
                    <strong>Nome</strong>: @country.CountryName
                </p>
                
                <p>
                    <strong>Código</strong>: @country.CountryCode
                </p>
                
                <p>
                    <strong>Link</strong>:
                    <a asp-page="/CountryManager/CountryDetails" asp-route-countryNameUrl="@country.UrlGenerator()">
                        Detalhes @country.CountryName
                    </a>
                </p>
                <hr> 
            </div>
        }  
    }
</div>
</body>
</html>